<div class="list-type1" *ngIf="car">
  <h2>{{car.name}} details!</h2>
  <div> <label>name </label> {{car.name}}</div>
  <div> <label>miles </label> {{car.miles}}</div>
  <div> <label>cylinders </label> {{car.cylinders}}</div>
  <div> <label>displacement </label> {{car.displacement}}</div>
  <div> <label>horsepower </label> {{car.horsepower}}</div>
  <div> <label>weight </label> {{car.weight}}</div>
  <div> <label>acceleration </label> {{car.acceleration}}</div>
  <div> <label>year </label> {{car.year}}</div>
  <div> <label>origin </label> {{car.origin}}</div>
</div>

<button (click)="goBack()">Back</button>
