.description {
  float: left;
  width:  50%;

}

label {
  display: inline-block;
  /*width: 3em;*/
  margin: .5em 0;
  color: #607D8B;
  color: rgb(0,120,215);
  font-weight: bold;
}

button {
  margin-top: 20px;
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer; cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

.list-type1{
width:400px;
margin:0 auto;
}

.list-type1 div{
counter-reset: li;
list-style: none;
*list-style: decimal;
font-size: 15px;
font-family: 'Raleway', sans-serif;
padding: 0;
margin-top: 10em;
margin-bottom: 4em;
}
.list-type1 div div{
margin: 10em 10em 10em 2em;
}

.list-type1 div{
position: relative;
display: block;
padding: .2em .2em .2em 10em;
*padding: .4em;
margin: .5em 0 1em;
background:blanchedalmond;
color: #000;
height: 2em;
text-decoration: none;
-moz-border-radius: .3em;
-webkit-border-radius: .3em;
border-radius: 10em;
transition: all .2s ease-in-out;
}

.list-type1 div:hover{
background: #d6d4d4;
text-decoration:none;
transform: scale(1.1);
}

.list-type1 label{
content: counter(li);
counter-increment: li;
position: absolute;
left: -1.3em;
top: 50%;
margin-top: -1.3em;
background:beige;
height: 2em;
width: 10em;
line-height: 2em;
border: .3em solid #fff;
text-align: center;
font-weight: bold;
-moz-border-radius: 2em;
-webkit-border-radius: 2em;
border-radius: 2em;
color:black;
}